.main-txt {
  font-weight: 700;
  font-size: 40;
  color: #FFFFFF;
  letter-spacing: -0.05em;
  padding-top: 10px;
}

h1 {
  margin: 0;
  padding: 0;
}

/* .fun-facts {
  padding-left: 75px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 19px;
  width: 400px;
  z-index: 1;
  position: relative;


}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 2.1em;
  padding-bottom: 10px;

}

li::before {
  content: "•";
  color: #61DAFB;
  padding-right: 15px;
  font-size: 40px;
} */

.bkg-logo {
  display: block;
  margin-left: auto;
  margin-top: -240px;
  z-index: 0;
  position: relative;
}