@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Noto+Serif+Georgian&display=swap');

* {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

html, body {
    margin:0;
    padding:0;
}
